body {
  margin: 0;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 900px) {
  .container {
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
}
